@import 'utils/variable';
@import 'utils/mixin';
@import 'components/loader';
@import 'layout/header';
@import 'components/button';
@import 'components/card';
@import 'components/heart';
@import 'components/dish_card';
@import 'layout/footer';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*****Page d'accueil*****/
/*****Input*****/
main {
    background-color: $color-white;

    .localization {
        display: flex;
        justify-content: center;
        gap: 17px;
        padding: 15.5px 0;
        color: $footer-bg-color;
        background-color: $input-background;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

        &__text {
            @include main-font;
            color: $footer-bg-color;
            border: none;
            outline: none;
        }
    }
}

/*****Accueil*****/
.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $primary-bg-color;
    padding: 39px 0 57px 0;

    &__title {
        @include title-font;
        text-align: center;
        margin-left: max(50px);
        margin-right: max(50px);
    }

    &__text {
        font-family: $main-font-family;
        font-weight: 300;
        font-size: 18px;
        line-height: 21.09px;
        color: $footer-bg-color;
        text-align: center;
        margin: 20px max(26px) 27px max(26px);
    }
}

.explore-restaurants {
    color: inherit;
    text-decoration: none;
}

/*****Fonctionnement*****/
.functioning {
    background-color: $color-white;
    padding: 48px 0 68px 0;

    &__title {
        @include title-font;
        padding: 0 0 26px 26px;
    }

    &__content {

        .functioning__step {
            @include main-font;
            display: flex;
            flex-direction: row;
            border-radius: 20px;
            background-color: $primary-bg-color;
            filter: drop-shadow(0px 4px 15px rgba(0, 0, 0, 0.15));
            padding: 28px 33px;
            margin: 0 20px 0 32px;
            position: relative;

            &:hover {
                .fa-solid {
                    color: $primary-color;
                }
            }

            &:not(:first-child) {
                margin-top: 25px;
            }

            &__number {
                width: 24px;
                height: 24px;
                display: flex;
                justify-content: center;
                align-items: center;
                font-family: $main-font-family;
                font-weight: 500;
                font-size: 14.18px;
                line-height: 16.62px;
                border-radius: 50%;
                color: $color-white;
                background-color: $primary-color;
                position: absolute;
                left: -12px;
            }

            &__txt {
                position: absolute;
                left: 73px;
                color: black;
            }

            .icon-menu {
                font-size: 16px;
                display: flex;
                gap: 2px;
            }

            .fa-solid {
                color: $icon-color;
            }
        }

    }
}

/*****Restaurants*****/
.restaurants {
    background-color: $primary-bg-color;
    padding: 54px 18px 66px 17px;

    &__title {
        @include title-font;
        padding-bottom: 24px;
    }

    &__list {
        display: flex;
        flex-direction: column;
        gap: 18px;

        .restaurant__link {
            text-decoration: none;
        }
    }
}

/*****Media query Tablette*****/
@media screen and (min-width: 1024px) {
    main .localization {
        filter: none;
    }

    .home {
        padding: 30px 0 30px 0;

        &__title {
            @include title-font-desktop;
        }

        &__text {
            margin: 24px 0 24px 0;
        }
    }

    .functioning {
        padding: 50px 100px 50px 100px;
        width: 100%;

        &__title {
            padding-bottom: 25px;
        }

        &__content {
            width: 100%;
            display: flex;
            flex-direction: row;
            gap: 36px;

            .functioning__step {
                width: 33%;

                &:not(:first-child) {
                    margin-top: 0px;
                }
            }
        }
    }

    .restaurants {
        padding: 30px 100px 30px 100px;

        &__title {
            padding-bottom: 28px;
        }

        &__list {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            row-gap: 50px;
            column-gap: 100px;
        }
    }
}

/*****Media query Desktop*****/
@media screen and (min-width: 1440px) {
    .functioning {
        padding-left: 180px;
        padding-right: 180px;
    }

    .restaurants {
        padding-left: 180px;
        padding-right: 180px;
    }
}

/*****Media query Large Desktop*****/
@media screen and (min-width: 2560px) {
    .functioning {
        padding-left: 400px;
        padding-right: 400px;
    }

    .restaurants {
        padding-left: 400px;
        padding-right: 400px;
    }
}

/*****Page restaurant La palette du goût*****/
/*****Photo et titre*****/

.restaurant-img {
    width: 100%;
    height: 275px;
    object-fit: cover;
}

.main {
    background-color: $primary-bg-color;
}

.restaurant__container {
    background-color: $primary-bg-color;

    .restaurant__title-content {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        border-radius: 50px 50px 0px 0px;
        background-color: $primary-bg-color;
        background-clip: padding-box;
        padding: 32px 40px 0px 17px;
        margin-top: -49px;
        position: relative;


        .restaurant__title {
            @include page-restaurant_title;
            color: $page-restaurant_title-color;

        }
    }

}

/*****MENUS*****/
.menu {

    &__section {
        margin: 40px 13px 0px 13px;

        .menu__title {
            @include menu-title;
        }

        .menu__green-line {
            display: block;
            background-color: $secondary-color;
            width: 40px;
            height: 3px;
            margin-top: 5.25px;
        }

        .menu__content {
            >.menu__dish-card:first-child {
                margin-top: 10.5px;
            }

            >.menu__dish-card:not(:first-child) {
                margin-top: 12px;
            }

            .anim1 {
                opacity: 0;
                animation: animCard 1000ms 75ms ease-in-out forwards;
            }

            .anim2 {
                opacity: 0;
                animation: animCard 1000ms 125ms ease-in-out forwards;
            }

            .anim3 {
                opacity: 0;
                animation: animCard 1000ms 175ms ease-in-out forwards;
            }

            .anim4 {
                opacity: 0;
                animation: animCard 1000ms 225ms ease-in-out forwards;
            }

            .anim5 {
                opacity: 0;
                animation: animCard 1000ms 275ms ease-in-out forwards;
            }

            .anim6 {
                opacity: 0;
                animation: animCard 1000ms 325ms ease-in-out forwards;
            }

            .anim7 {
                opacity: 0;
                animation: animCard 1000ms 375ms ease-in-out forwards;
            }

            .anim8 {
                opacity: 0;
                animation: animCard 1000ms 425ms ease-in-out forwards;
            }

            .anim9{
                opacity: 0;
                animation: animCard 1000ms 475ms ease-in-out forwards;
            }

            .anim10 {
                opacity: 0;
                animation: animCard 1000ms 525ms ease-in-out forwards;
            }
        }
    }
}

@keyframes animCard {
    0% {
        transform: translateX(1000px);
        opacity: 0;
    }

    98% {
        opacity: 0.8;
    }

    99% {
        opacity: 0.9;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

/*****CTA Commander*****/
.cta {
    display: flex;
    justify-content: center;
    padding: 40px 0 40px 0;
}

/*****Media query Tablette*****/
@media screen and (min-width: 1024px) {
    .restaurant__container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0 100px;

        .restaurant__title-content {
            display: flex;
            justify-content: center;
        }

        .menu {
            padding: 0 100px;

            &__section {
                margin: 40px 0 0 0;
            }
        }
    }
}

/*****Media query Desktop*****/
@media screen and (min-width: 1440px) {
    .restaurant__container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0 193px;

        .menu {
            padding: 0 210px 0 210px;
        }
    }
}

/*****Media query Large Desktop*****/
@media screen and (min-width: 2560px) {
    .restaurant__container {
        width: 75%;
        display: flex;
        margin: 0 auto;
    }
}