@import '../utils/variable';

footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    color: $color-white;
    background-color: $footer-bg-color;
    padding: 22px 25px;

    .footer__title {
        font-family: $secondary-font-family;
        font-size: 18px;
        font-weight: 400;
        margin-bottom: 16px;
    }

    .footer__content {
        display: flex;
        flex-direction: column;

        :not(:first-child) {
            margin-top: 7px;
        }
    }

    .footer__link {
        @include main-font;
        text-decoration: none;
        color: $color-white;

    }

}