@import '../utils/variable';
@import '../utils/mixin';

.button{
    @include main-font;
    display: flex;
    align-items: center;
    color: $color-white;
    background: linear-gradient(to top, $primary-color, $secondary-button-color);
    border: none;
    border-radius: 25px;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);

    &:hover{
        filter: drop-shadow(0 4px 15px 0px rgba(0, 0, 0, 0.35));
        opacity: 0.85;
    }
}

.explore{
    padding: 13px 18.75px;
}

.command{
    padding: 16px 48px 15px 49px; 
}