@import '../utils/variable';
@import '../utils/mixin';

/*****heart*****/
.fa-heart{
    font-size: 21px;
    position: absolute;
    right: 25px;
    top: 23px;
    color: black;
}

.restaurant-page-heart{
    right: 41px;
    top: 40px;
}

/*****Media query*****/
@media screen and (min-width: 1024px) {
    .fa-heart{
        position: static;
        padding-top: 10px;
    }
}