/*****Fonts*****/
@mixin main-font {
    font-family: $main-font-family;
    font-weight: 500;
    font-size: 16px;
    line-height: 18.75px;
}

@mixin title-font {
    font-family: $main-font-family;
    font-weight: 700;
    font-size: 24px;
    line-height: 28.13px;
}

@mixin title-restaurant{
    font-family: $main-font-family;
    font-weight: 700;
    font-size: 18px;
    line-height: 21.09px;
}

@mixin card-text{
    font-family: $main-font-family;
    font-weight: 300;
    font-size: 17px;   
    line-height: 19.92px;
}

@mixin page-restaurant_title{
    font-family: $secondary-font-family;
    font-weight: 400;
    font-style: italic;
    font-size: 28px;
    line-height: 40.82px;
}

@mixin menu-title{
    font-family: $main-font-family;
    font-weight: 300;
    font-size: 16px;
    line-height: 18.75px;
}

@mixin dish-title{
    font-family: $main-font-family;
    font-weight: 500;
    font-size: 18px;
    line-height: 21.09px;
}

@mixin dish-subtitle{
    font-family: $main-font-family;
    font-weight: 300;
    font-size: 15.04px;
    line-height: 17.63px;
}

@mixin title-font-desktop {
    font-family: $main-font-family;
    font-weight: 700;
    font-size: 40px;
    line-height: 46.88px;
}
