/*****Colors*****/
$primary-bg-color: #F6F6F6;
$footer-bg-color: #353535;
$primary-color: #9356DC;
$secondary-button-color: #FF79DA;
$secondary-color: #99E2D0;
$text-color: #008766;
$input-background: #EAEAEA;
$color-white: #FFFFFF;
$icon-color: #7E7E7E;
$page-restaurant_title-color: #101010;
$linear-gradient: linear-gradient(to top, #9356DC, #FF79DA); 
$linear-gradient-loader: linear-gradient(to right, #9356DC,#99E2D0, #FF79DA);

/*****Fonts*****/
$main-font-family: 'Roboto', sans serif;
$secondary-font-family: 'Shrikhand', serif;
$font-size-title: 24px;
$font-weight-title: 700;