/*****Colors*****/
$primary-bg-color: #F3F3F3;
$footer-bg-color: #353535;
$primary-color: #9356DC;
$secondary-color: #99E2D0;
$text-color: #008766;
$input-background: #EAEAEA;
$color-white: #FFFFFF;

/*****Fonts*****/
$font-family: roboto;
$font-size: 15px;
$font-size: 16px;
$font-size: 17px;
$font-size: 18px;
$font-size-title: 24px;
$font-weight: 300;
$font-weight: 500;
$font-weight-title: 700;


